{% extends 'base.html.twig' %}

{# {% block title 'Find all the best pins on Earth !' %} #}

{% block body %}
    <h1>Cette page n'existe pas</h1>
    <p>La page que vous recherchez semble introuvable.<br/> Choisissez une autre adresse
    ou <a href="{{path('app_home')}}">retour à l'accueil</a></p>

{% endblock %}}