@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$primary-font : 'Montserrat';
$secondary-font : 'Verdana';

body {
    background: yellow;
    font-family: $primary-font, sans-serif;   
}
.alert{
    padding:10px;
    color:white;
    text-align:center;
    margin:0;
    border:none;
    border-radius:0;

    &.alert-success{
        background-color:green;
    }
    &.alert-info{
        background-color:blue;
    }
    &.alert-danger{
        background-color:orange;
    }
    &.alert-error{
        background-color:red;
    }
}

