{% extends 'layouts/base.html.twig' %} 
{% block title 'Edit Pin n°'~ pin.id %}

{% block body %}
    <h1>Edit Pin n° {{pin.id}} </h1>

    {{include('pins/_form.html.twig', {submitButtonText : 'Modifier le pin'})}}

{% endblock %}
