{% extends 'layouts/base.html.twig' %} 
{% block title 'Edit Pin n°'~ pin.id %}

{% block body %}
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Edit Pin n° {{pin.id}} </h1>

            {{include('pins/_form.html.twig', {submitButtonText : 'Modifier le pin'})}}
        </div>
    </div>
    
{% endblock %}
